@layer base {
    @font-face {
        font-family: 'Rajdhani';
        font-weight: 300;
        font-display: swap;
        src: url./fonts/Rajdhani-Light.ttf);
    }

    @font-face {
        font-family: 'Rajdhani';
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/Rajdhani-Regular.ttf);
    }

    @font-face {
        font-family: 'Rajdhani';
        font-weight: 500;
        font-display: swap;
        src: url(./fonts/Rajdhani-Medium.ttf);
    }
}
