@layer base {
  @font-face {
    font-family: 'ModernSans';
    font-weight: 300;
    font-display: swap;
    src: url(../../fonts/ModernSans-Light.otf);
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 300;
    font-display: swap;
    src: url(../../fonts/SpaceGrotesk-Light.otf);
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/SpaceGrotesk-Regular.otf);
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 500;
    font-display: swap;
    src: url(../../fonts/SpaceGrotesk-Medium.otf);
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 600;
    font-display: swap;
    src: url(../../fonts/SpaceGrotesk-Bold.otf);
  }
}
